/* Common */
html {
  background: url(https://www.tomswallpapers.com/pic/201512/1080x1920/tomswallpapers.com-32471.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  display: column;
  margin-left: 10%;
  margin-right: 10%;
}
#navigate_div{
  background-color: green;
  text-color: blue;
}


#navigate_div ul {
  display: table;
  width: 100%;
}

#navigate_div ul li {
  list-style: none;
  display: table-cell;
  width: 25%;
  padding-top: 10px;
  padding-bottom:10px;

}

#navigate_div a{
  font-family: 'gothic' Fallback 'Serif';
  color: white;
  font-size:14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 10px;
  padding-left: 10px;

}
#navigate_div a:hover{
  background-color: orange;
}

.container {
  position: relative;
  min-height: 60vh;
  min-width: auto;
  background: rgba(255, 255, 255, .8);
  margin-bottom: 20vh;

}
/* Applying the same style for the title bloc and a footer */
.title_block, .my_footer {
     position: relative;
     width: auto;
     display:block;
     padding: 20px;
     margin-bottom: 20px;
     margin-top: 30px;
     background: rgba(255, 255, 255, .8);
     justify-items: center;
}

#logo {
  margin-bottom: 10vh;
}

/*================
==================
==================
*/
.books_block {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.9;
  margin-left: 10%;
  margin-right: 10%;
}


/* Center website */
.book_shelf {
  max-width: auto;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 15px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: black;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


