html {
  background: url(https://www.tomswallpapers.com/pic/201512/1080x1920/tomswallpapers.com-32471.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: column;
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  min-height: 60vh;
  min-width: auto;
  background: rgba(255, 255, 255, .8);
  padding: 40, 20, 40, 20px;
}

.title_block{
     position: relative;
     width: auto;
     display:block;
     padding: 20px;
     margin-bottom: 20px;
     margin-top: 30px;
     background: rgba(255, 255, 255, .8);
     justify-items: center;

}


/* Navigation bar */
#nav {
  list-style-type: none;
  margin: 0;
  padding: 50, 20, 20, 50;
  overflow: hidden;
  background-color: green;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 19px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
  text-decoration: underline;

}

.active {
  background-color: green;
  text-decoration: underline;
}

/* Book grid CSS */
  .book1{background:LightSkyBlue;}
  .book2{background:LightSalmon;}
  .book3{background:PaleTurquoise;}
  .book4{background:LightPink;}
  .book5{background:PaleGreen;}
  .book6{background:LightSkyBlue;}
  .book7{background:LightSalmon;}
  .book8{background:PaleTurquoise;}
  .book9{background:LightPink;}
  .book10{background:PaleGreen;}
  .book11{background:LightSkyBlue;}
  .book12{background:LightSalmon;}

#books_block {
  min-height: 60vh;
  min-width: 60vh;
  background: rgba(255, 255, 255, .8);
  justify-content: center;
  align-content: center;
  padding: 40 60 40 70px;

}

}
.aboutbookshelf {
  align: center;
  font: Black;
  position: relative;
  padding-top: 15px;
}

  .bookshelf{
    position: relative;
    font-size: 40px;
    background:rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.books {

}
