<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<main class="wrapper" id="main">
 <!--==========================================
Header contains title and sticky Navigation bar
===============================================-->
<header>

<nav class="navbar" id="navigate_div">
<ul id="nav">
  <li><a href="#bio">About</a></li>
  <li><a href="#books_block">Books</a></li>
  <li><a href="#movies">Movies</a></li>
  <li><a href="#">Resources</a></li>
</ul>
</nav>

  <div class="title_block" id="logo">
    <div class="title" id="title">J.R.R. Tolkien
  <p>This is a tribute page to the writer of Lord of the Rings</p>
    </div>
</div>
  </header>
  <!-- Class block will define three large blocks of content:
=============================
Block with biography content
=============================-->
<div class="container" id="bio">
     <p><h1>THIS IS A BLOCK ABOUT BIO </h></>

  </div>
<!--=========================================
A parent block with a grid for author's books
=============================================-->




  <div class="books_block" id="books_gallery">

        <div class="book_shlf">

<h1>MYLOGO.COM</h1>
<hr>

<h2>PORTFOLIO</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
<!-- END GRID -->
</div>



  </div>
 <!--=========================================
A parent block with a grid for author's movies
==============================================-->
<div class="container" id="movies">

  <p><h1>THIS IS A BLOCK ABOUT MOVIES </h></></div>


 <!--=============================
Footer has to have a smooth scroll
==================================-->


  <footer class="my_footer" id="copyright">

    <p><h1>THIS IS A FOOTER </h></>

  </footer>

</main>