<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet"
      type="text/css"
      href="/static/css/tribute.css"/>
</head>
    <body>
<main class="wrapper" id="main">
 <!--==========================================
Header contains title and sticky Navigation bar
===============================================-->
<header>
  <div class="title_block" id="logo">
    <div class="title" id="title">J.R.R. Tolkien
  <p>This is a tribute page to the writer of Lord of the Rings</p>
    </div>
</div>

<ul id="nav">
  <li id="active"><a href="#bio">About</a></li>
  <li><a href="#books_block">Books</a></li>
  <li><a href="#movies">Movies</a></li>
  <li><a href="#">Resources</a></li>
</ul>

  </header>
  <!-- Class block will define three large blocks of content:
=============================
Block with biography content
=============================-->
<div class="container" id="bio">
     <p><h1>THIS IS A BLOCK ABOUT BIO </h></>

  </div>
<!--=========================================
A parent block with a grid for author's books
=============================================-->




  <div class="container" style="overflow-y: scroll; height:400px;" id="books_block">
       <div class="aboutbookshelf" id="about_bookshelf">
         <h1><p>THIS IS A BLOCK ABOUT BOOKS </p></h>
    </div>

     <div class="bookshelf" id=bookshelf>
        <div class="books book1"> 1</div>
        <div class="books book2">2</div>
        <div class="books book3">3</div>
        <div class="books book4">4</div>
        <div class="books book5">5</div>
        <div class="books book6">6</div>
        <div class="books book7">7</div>
        <div class="books book8">8</div>
        <div class="books book9">9</div>
        <div class="books book10">10</div>
        <div class="books book11">11</div>
        <div class="books book12">12</div>
     </div>
    </div>
  </div>

  </div >


  </div>
 <!--=========================================
A parent block with a grid for author's movies
==============================================-->
<div class="container" id="movies">

  <p><h1>THIS IS A BLOCK ABOUT MOVIES </h></>


  </div>


 <!--=============================
Footer has to have a smooth scroll
==================================-->


  <footer>

    <p><h1>THIS IS A FOOTER </h></>

  </footer>

</main>

</body>
</html>
