<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<main class="wrapper" id="main">
 <!--==========================================
Header contains title and sticky Navigation bar
===============================================-->
<header>

<nav class="navbar" id="navigate_div">
<ul id="nav">
  <li><a href="#bio">About</a></li>
  <li><a href="#books_block">Books</a></li>
  <li><a href="#movies">Movies</a></li>
  <li><a href="#">Resources</a></li>
</ul>
</nav>

  <div class="title_block" id="logo">
    <div class="title" id="title">J.R.R. Tolkien
  <p>This is a tribute page to the writer of Lord of the Rings</p>
    </div>
    <div id="img-div"> <img src="https://i.imgur.com/QnB3s9T.jpg" id="image" alt="Image of J.R.R.Tolkien" >
    </div>
</div>
  </header>
  <!-- Class block will define three large blocks of content:
=============================
Block with biography content
=============================-->
<div class="container" id="bio">
     <p><h1>THIS IS A BLOCK ABOUT BIO </h></>

  </div>
<!--=========================================
A parent block with a grid for author's books
=============================================-->





 <!--=========================================
A parent block with a grid for author's movies
==============================================-->
<div class="container" id="movies">

  <p><h1>THIS IS A BLOCK ABOUT MOVIES </h></></div>


 <!--=============================
Footer has to have a smooth scroll
==================================-->


  <footer class="my_footer" id="copyright">

    <p><h1>THIS IS A FOOTER </h></>

  </footer>

</main>